/* COLORS
* ----------
* #BE1D29 - red
*
*/
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  background: #232323;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #c8c8c8;
  line-height: 28px;
  text-align: center;
}
/*---------------------------------------
   Typography
-----------------------------------------*/

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {

    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}
/* HEADINGS */

h1,
h2 {
    font-family: 'Lane', sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 3.75rem;
    line-height: 4.688rem;
}

h2 {
    font-size: 3.125rem;
    line-height: 4.063rem;
}

h3 {
    font-size: 24px;
    line-height: 38px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}
/*---------------------------------------
   CUSTOM BUTTON
-----------------------------------------*/

.standard-button,
.standard-button2 {
    font-size: 18px;
    background-color:#BE1D29;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
            transition: all ease 0.25s;
}

.standard-button:hover,
.standard-button2:hover {
    border: none;
}

.standard-button i,
.standard-button2 i {
    vertical-align: inherit;
    margin-right: 8px;
    font-size: 20px;
}

.intro {
  font-family: 'Lane', sans-serif;
  font-weight: normal;
}
main {
  height: 100%;
}
.cd-fixed-bg {
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.cd-fixed-bg.cd-bg-1 {
  position: relative;
  background-image: url('images/inthegym.jpg');
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url('images/weightrack.jpg');
}
.cd-fixed-bg.cd-bg-3 {
  background-image: url('images/outthegym.jpg');
}
.cd-fixed-bg.cd-bg-4 {
  background-image: url('images/inthegym5.jpg');
}
.cd-scrolling-bg {
  min-height: 100%;
}
.download {
  margin-top: 2%;
  margin-left: 2%;
}
.product-description {
  width: 80%;
  margin: 0 auto;
}
.main-description {
  font-size: 15pt;
  padding: 5% 0;
  text-align: center;
  color: white;
}
#about-activ8 {
  padding-top: 5%;
}
.dash img {
  display: block;
  width: 60%;
  margin: 0 auto;
}
.cd-scrolling-bg {
  line-height: 1.6;
  position: relative;
  z-index: 2;
  min-height: 100%;
  padding: 4em 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, .5);
}
.cd-scrolling-bg.cd-color-1 {
  color: #a6989a;
  background-color: #3d3536;
}
.cd-scrolling-bg.cd-color-2 {
  color: #3d3536;
  background-color: #99a478;
}
.cd-scrolling-bg.cd-color-3 {
  color: #3d3536;
  background-color: #b4d7a8;
}
.pink {
  background-color: pink;
}
.blue {
  background-color: lightblue;
}
.purple {
  background-color: thistle;
}
.o-red {
  outline: red solid 4px;
}

/* --------------------------------------
 MEDIA QUERIES
-----------------------------------------*/


