<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Activ8</title>
  <link href='http://fonts.googleapis.com/css?family=Stardos+Stencil' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="css/styles.css">

</head>
<body ng-app="activ8">
  <div class="container-fluid main-body" ng-controller="MainCtrl as app" >
    <nav class="navbar navbar-default main-nav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
        <img class="ree" src="images/reebokxfit.png" alt="">
        </a>
        <a class="name" href="#">
          <h1 class="appName navbar-left">Activ8</h1>
          </a>
        <button ng-show="app.loggedIn()" ng-click="app.logOut()" class="logout navbar-right btn">Logout</button>
      </div>
    </div>
    </nav>
    <section class="kettleBox" >
      <figure ng-hide="app.loggedIn()" ng-click="app.login()">
        <a ><img src="images/kettlebell.png" alt="KettleFBLogin" class="img-responsive kettle"></a><br>
          <figcaption class="loginText">
            <a href="#"><h3>Login</h3></a>
          </figcaption>
      </figure>
      <footer><em>Privacy Policy</em></footer>
    </section>
  </div>

      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/firebase/firebase.js"></script>
      <script src="bower_components/angularfire/dist/angularfire.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

      <script src="index.js"></script>
      <script src="fbAuth.js"></script>

</body>
</html>
