.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

body {
  margin: 0;
  padding: 0;

}
.jumbotron {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin-bottom: 0;
}
.product-page {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.3);
}
.navbar {
  margin-bottom: 0;
}
.navMenu {
  padding-right: 3%;
  margin-right: 0;
}
.product-description {
  width: 80%;
  margin: 0 auto;
}
.main-description {
  color: white;
  font-size: 15pt;
  text-align: center;
  padding: 5% 0;
}
h1 {
  margin-top: 0;
}
h2 {
  color: black;
  text-align: center;
  font-size: 30pt;
  padding-bottom: 2%;
}
a.navbar-brand {
  padding-top: 12%;
}
h3 {
  margin: 0;
}
#aboutActiv8 {
  padding-top: 5%;
}
.dash img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

// dashboard styles
    .row-1{
      margin: 0;
      padding-top: 20%;
    }
    .row-2, .row-3 {
      color: white;
      min-height: 20%;
      background-color: rgba(200,0,0,0.5);
      margin: 15% auto 0 auto;
      width: 90%;
    }
    .avatar {
      padding: 0;
      padding-left: 10%;
    }
    .plus-workout button {
      width: 100%;
      min-height: 80px;
      font-size: 15pt;
    }
    .plus-workout button a {
      color: white;
    }
    #personalBests {
      color: white;
      background-color: rgba(0,0,0,0.4);
      height: 100vh;
    }
    .prList {
      list-style-type: none;
      padding-right: 10px;
      padding-left: 10px;
    }
    .prList li {
      font-size: 12pt;
      text-align: center;
      margin-bottom: 5%;
    }
    .records {
      margin: 0 auto 2% auto;
      width: 85%;
    }
    .page-down a {
      color: rgba(200,0,0,0.5);
      font-size: 50pt;
    }
    .fbName {
      color: white;
      font-weight: bold;
    }
    .page-up {
      text-align: center;
      padding: 0;
      background-color: rgba(0,0,0,0.4);
    }
    .page-up a {
      color: rgba(200,0,0,0.5);
      font-size: 50pt;
    }
