<div class="container" ng-controller="DashboardCtrl">
  <div class="row">
    <div ng-include="'components/navbar/navbar.html'"></div>
    <div class="col-xs-4 bg-warning">
      <img class="img-circle" src="http://placehold.it/100X100">
    </div><!-- .avatar -->
    <div class="col-xs-8">
      <button type="button" class="btn btn-primary btn-lg btn-block">Large button</button>
    </div>
  </div><!-- .row -->

  <div class="row">
    <div class="col-xs-12 bg-success">
      <h3>Days Active</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec cursus diam quis leo placerat dictum. Fusce turpis quam, ultrices ut porta sed, aliquam at elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </div>
  </div><!-- .row -->
  <div class="row">
    <div class="col-xs-12 bg-danger">
      <h3>History</h3>
      <ul>
        <li>Mon Nov 20</li>
        <li>Tue Nov 21</li>
        <li>Wed Nov 22</li>
        <li>Thu Nov 23</li>
      </ul>
    </div>
  </div><!-- .row -->
</div><!-- .container -->

<!-- Sticky Footer -->
<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">Privacy Policy</p>
  </div><!-- .footer > .container -->
</footer>