  <div class="container-fluid main-body" ng-controller="MainController">
    <section id="dashboard" class="main-dash">
      <nav class="navbar navbar-default main-nav" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          <img class="ree" src="./assets/images/reebokxfit.png" alt="">
          </a>
          <a class="name" href="#"><section class="appName navbar-left"><h1>Activ8</h1></section></a>
        </div>
      </div><!-- /.container-fluid -->
      </nav>
      <div class="row row-1">
      <section class="avatar col-xs-5">
        <img src="./assets/images/LoganXfit2.jpg" class="img-responsive img-rounded fb-avatar" alt="" width="100px" height="100px"><!-- {{app.facebook.avatar_url}} -->
        <p class="fbName">{{user.facebook.username}} Rich Froning</p>
      </section>
      <section class="plus-workout col-xs-7">
        <button type="button" class="btn btn-success work-btn glyphicon glyphicon-plus"><a href="file:///Users/Logan/TheIronYard/crosstrackapp/newwork.html">New Workout</a></button>
      </section>
    </div>
    <div class="row row-2">
      <section class="daysActive col-xs-12">
        <h3>Days Active Chart</h3>
      </section>
    </div>
    <div class="row row-3">
      <section class="myHistory col-xs-12">
        <p>My History</p>
      </section>
    </div>
    <section class="page-down">
      <a href="#personalBests"><span class="glyphicon glyphicon-chevron-down"></span></a>
    </section>
    </section>
    <section id="personalBests">
      <h3 class="records">Personal Records(PR's)</h3>
      <ul class="prList prList1 col-xs-6">
        <li>Power Clean: {{user.pr.powerclean}} 500lbs</li>
        <li>Squat Clean: {{user.pr.squatclean}} 500lbs</li>
        <li>Hang Clean: {{user.pr.hangclean}} 500lbs</li>
        <li>Hang Squat Clean: {{user.pr.hangsquatclean}} 500lbs</li>
        <li>Split Jerk: {{user.pr.splitjerk}} 500lbs</li>
        <li>Push Jerk: {{user.pr.pushjerk}} 500lbs</li>
        <li>Clean & Jerk: {{user.pr.cleanjerk}} 500lbs</li>
        <li>Power Snatch: {{user.pr.powersnatch}} 500lbs</li>
        <li>Squat Snatch: {{user.pr.squatsnatch}} 500lbs</li>
        <li>Hang Snatch: {{user.pr.hangsnatch}} 500lbs</li>
        <li>Hang Squat Snatch: {{user.pr.hangsquatsnatch}} 500lbs</li>

      </ul>
      <ul class="prList prList2 col-xs-6">
        <li>Deadlift: {{user.pr.deadlift}} 500lbs</li>
        <li>Sumo Deadlift: {{user.pr.sumodeadlift}} 500lbs</li>
        <li>Squat: {{user.pr.squat}} 500lbs</li>
        <li>Overhead Squat: {{user.pr.ohsquat}} 500lbs</li>
        <li>Front Squat: {{user.pr.frontsquat}} 500lbs</li>
        <li>Fran: {{user.pr.fran}} 3:45</li>
        <li>Annie: {{user.pr.annie}} 18:00</li>
        <li>Filthy Fifty: {{user.pr.filthy}} 30:00</li>
        <li>Nicole: {{user.pr.nicole}} 22:00</li>
        <li>Murph: {{user.pr.murph}} 45:00</li>
        <li>Open 14.5: {{user.pr.open14-5}} 6:00</li>
      </ul>
      <section class="page-up col-xs-12">
        <a href="#dashboard"><span class="glyphicon glyphicon-chevron-up"></span></a>
      </section>
  </section>

</div>



