
<section ng-show="app.loggedIn()" id="dashboard" class="main-dash">
  <nav class="navbar navbar-default main-nav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="ree" src="./assets/images/reebokxfit.png" alt="">
        </a>
        <section class="appName navbar-left"><a class="name" href="#"><h1>Activ8</h1></a></section>
        <button ng-click="app.logout()" class="btn navbar-right logout-button">Logout</button>
      </div>
      <div class="row row-2">
        <section class="daysActive col-xs-12">
          <h3>Days Active Chart</h3>
        </section>
      </div>
      <div class="row row-3">
        <section class="myHistory col-xs-12" ng-controller="HistoryController as history">
          <p>My History</p>
        </section>
      </div>
      <section class="page-down">
        <a href="#personalBests"><span class="glyphicon glyphicon-chevron-down"></span></a>
      </section>
    </section>

    </div><!--/.container-fluid -->
  </nav>
  <div class="row row-1">
    <section class="avatar col-xs-5">
      <img ng-src="{{app.user.avatarUrl}}" class="img-responsive img-rounded fb-avatar" alt="" width="100px" height="100px">
      <p class="fbName">{{app.user.fullName|| displayName}}</p>
    </section>
    <section class="plus-workout col-xs-7">
      <button type="button" class="btn btn-success work-btn glyphicon glyphicon-plus">NewWorkout</button>
    </section>
  </div>
  <div class="row row-2">
    <section class="daysActive col-xs-12">
      <h3>Days Active Chart</h3>
    </section>
  </div>
  <div class="row row-3">
    <section class="myHistory col-xs-12" ng-controller="HistoryController as history">
      <p>My History</p>
    </section>
  </div>
  <section class="page-down">
    <a href="#personalBests"><span class="glyphicon glyphicon-chevron-down"></span></a>
  </section>
</section>
