<section class="main container-fluid">


  <section class="my-history col-xs-12">
    <h2 class="histroy-head">My History</h2>
      <div class="history-list" ng-repeat="work in history.historyList | orderBy:'date':true" style="border: 2px solid white">
         <h4>{{work.date | date:'short'}}</h4>
        <div class="move-listings" ng-repeat="move in work.movements">
              <h5>{{move.name}}</h5>
              <p>Reps: {{move.reps}}</p>
              <p>Rds: {{move.rds}}</p>
              <p>Lbs: {{move.weight}}</p>
        </div>
      </div>
  </section>
</section>
