
 <!-- TODO: Separate login code from dashboard code. Give them their own controllers. -->
  <div class="container-fluid main-body" ng-controller="MainController as app">
    <!-- Navbar A -->
    <nav ng-hide="app.loggedIn()" class="navbar navbar-default main-nav" role="navigation">
      <span>You are logged out. ln#5</span>
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="ree" src="./assets/images/reebokxfit.png" alt="" width="40px">
        </a>
        <a class="name" href="#">
          <h1 class="appName">Activ8</h1>
        </a>
      </div>
    </nav>

    <section ng-hide="app.loggedIn()" class="kettleBox" >
      <span>You are logged out. ln#17</span>
      <figure ng-click="app.login()">
        <a><img src="./assets/images/reebokxfit.png" alt="" class="img-responsive kettle"></a><br>
        <figcaption class="loginText">
          <a href="#"><h3>Login</h3></a>
        </figcaption>
      </figure>
      <footer><em>Privacy Policy</em></footer>
    </section>

    <!-- LOGGED IN -->
    <!-- BEGIN Dashboard -->
    <section ng-show="app.loggedIn()" id="dashboard" class="main-dash">
      <span>You are logged in. ln#28</span>
      <!-- Navbar B -->
      <nav class="navbar navbar-default main-nav" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img class="ree" src="./assets/images/reebokxfit.png" alt="" width="40px">
            </a>
            <section class="appName"><a class="name" href="#"><h1>Activ8</h1></a></section>
            <button ng-click="app.logout()" class="btn navbar-right logout-button">Logout</button>
          </div>
        </div><!-- /.container-fluid - TODO: can we remove this div tag? -->
      </nav>
      <div class="row row-1">
        <section class="avatar col-xs-5">
          <img ng-src="{{app.user.avatarUrl}}" class="img-responsive img-rounded fb-avatar" alt="" width="100px" height="100px">
          <p class="fbName">{{app.user.fullName|| displayName}}</p>
        </section><!-- / section.avatar -->
        <section class="plus-workout col-xs-7">
          <a role="button" class="btn btn-success work-btn glyphicon glyphicon-plus" href="#/new-workout">New Workout</a>
          <a role="button" class="btn btn-success work-btn" href="#/personal-records">Personal Records</a>
        </section><!-- / section.plus-workout -->
      </div>
      <!-- BEGIN Days Active -->
      <div class="row row-2">
        <section class="daysActive col-xs-12">
          <h3>Days Active Chart</h3>
        </section>
      </div>
      <!-- BEGIN History -->
      <div class="row row-3">
        <section class="myHistory col-xs-12" ng-controller="HistoryController as history">
          <p>My History</p>
          <ul class="history-list">
            <li ng-repeat="list in history.historyList ">
              <a ng-href="#">{{list[0].date | date:'short'}}</a><br>
              <!-- Move:{{list[0].name}}<br>
              Reps:{{list[0].reps}}<br>
              Rds:{{list[0].rds}}<br>
              Weight:{{list[0].weight}}<br>
              Move:{{list[1].name}}<br>
              Reps:{{list[1].reps}}<br>
              Rds:{{list[1].rds}}<br>
              Weight:{{list[1].weight}}<br> -->
              </li>
          </ul>
        </section>
      </div>
      <!-- BEGIN "page-down" content -->

  </div><!-- .main-body -->

  <script>
    //Array of movements for the input box of workouts
    $(function() {
     var movements = [
     "Pull Ups",
     "Push Ups",
     "Sit Ups",
     "Clean",
     "Power Clean",
     "Squat Clean",
     "Hang Clean",
     "Hang Squat Clean",
     "Snatch",
     "Power Snatch",
     "Squat Snatch",
     "Hang Snatch",
     "Hang Squat Snatch",
     "Press",
     "Strict Press",
     "Push Press",
     "Jerk",
     "Push Jerk",
     "Split Jerk",
     ];
     var workouts = [
     "Amanda",
     "Annie",
     "Fran",
     "Murph",
     "Filthy Fifty"
     ];
     var personalRecords = [
     "Power Clean",
     "Squat Clean",
     "Hang Power Clean",
     "Hang Squat Clean",
     "Jerk",
     "Split Jerk",
     "Push Jerk",
     "Clean & Jerk",
     "Power Snatch",
     "Squat Snatch"
     ];
     $( "#movements" ).autocomplete({
       source: movements
     });
     $("#workoutList").autocomplete({
       source: workouts
     });
     $("#personalRecords").autocomplete({
       source: personalRecords
     });
   });
    </script>

    <script>
    $(function() {
     $('a[href*=#]:not([href=#])').click(function() {
       if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
         var target = $(this.hash);
         target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
         if (target.length) {
           $('html,body').animate({
             scrollTop: target.offset().top
           }, 1000);
           return false;
         }
       }
     });
   });
    </script>

<!-- Dashboard -->
<section ng-show="app.loggedIn()" id="dashboard" class="main-dash">
  <div class="row row-1">
    <section class="avatar col-xs-5">
      <img ng-src="{{app.user.avatarUrl}}" class="img-responsive img-rounded fb-avatar" alt="" width="100px" height="100px">
      <p class="fbName">{{app.user.fullName|| displayName}}</p>
    </section><!-- / section.avatar -->
    <section class="plus-workout col-xs-7">
      <a role="button" class="btn btn-success work-btn glyphicon glyphicon-plus" href="#/new-workout">NewWorkout</a>
    </section><!-- / section.plus-workout -->
  </div>
  <!-- BEGIN Days Active -->
  <div class="row row-2">
    <section class="daysActive col-xs-12">
      <h3>Days Active Chart</h3>
    </section>
  </div>
  <!-- BEGIN History -->
  <div class="row row-3">
    <section class="myHistory col-xs-12" ng-controller="HistoryController as history">
      <p>My History</p>
      <ul class="history-list">
        <li ng-repeat="list in history.historyList ">
          <a ng-href="#">{{list[0].date | date:'short'}}</a><br>
        </li>
      </ul>
    </section>
  </div>
</section><!-- / section#dashboard -->
</div><!-- .main-body -->
