<!-- Dashboard -->
<section id="dashboard" class="main-dash">
  <!-- Begin new-dash -->
  <section class="new-dash">
      <div class="row row-1">
      <section class="avatar col-xs-12 ">
        <img ng-src="{{app.user.avatarUrl}}" class="img-responsive img-rounded fb-avatar col-md-6" alt="" >
        <p class="fbName col-md-6">{{app.user.fullName|| displayName}}</p>
      </section><!-- / section.avatar -->
    </div>
    <!-- BEGIN Buttons -->
  </section><!-- End new-dash -->
  <section class="dash-buttons">
    <div class="row row-2 button1">
      <a role="button" class="work-btn col-xs-12" href="#new-workout"><span class="glyphicon glyphicon-plus col-xs-2"></span><p class="col-xs-10 new-btn"> New Workout</p></a>
    </div>
    <div class="row row-2 button2">
      <a role="button" class="history-btn col-xs-12" href="#history"><span class="glyphicon glyphicon-calendar col-xs-2"></span> <p class="col-xs-10 new-btn">My History</p></a>
    </div>
    <div class="row row-2 button3">
      <a role="button" class="pr-btn col-xs-12" href="#personal-records"> <span class="glyphicon glyphicon-fire col-xs-2"></span><p class="new-btn col-xs-10">My PR's</p></a>
    </div>
  </section>
</section><!-- / section#dashboard -->
