<!-- <section class="go-to-history col-xs-12">
  <a href="#history" class="btn btn-warning btn-sm my-history-btn">My History</a>
</section> -->
<section class="main">
  <form class="new-move" ng-submit="work.addWork(work.workout)" name="new">
    <label><h3>Today's Workout</h3></label><br>
    <div class="new-moves" ng-repeat="move in work.workout" >
      <input class="form-control" ng-model="move.name" type="text" list="moving" placeholder="Select Movement" autocomplete="on" required>
      <input type="text" class="form-control" ng-model="move.reps" placeholder="Reps" required>
      <input type="text" class="form-control" ng-model="move.rds"  placeholder="Rounds" required>
      <div class="input-group">
        <input type="text" class="form-control" ng-model="move.weight" placeholder="Weight">
        <span class="input-group-btn">
          <button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="work.delete(move)"></button>
        </span>
      </div><!-- /input-group -->
      <input type="text" ng-hide="true" ng-model="move.moveNumber"><br>

    </div>
    <div>
      <input type="button" class="add-move-btn" value="Add Movement" ng-click="work.addMove()"><br>
      <input type="submit" class="save-btn" value="Save Workout" ng-hide="work.disable()">


    </div>
  </form>

  <datalist id="moving">
    <option data-ng-repeat="moves in work.moveList.movements" value="{{moves.name}}"></option>
  </datalist>
  <br>

</section>
<!-- / .main -->
</div><!-- /.main-body -->
