
<!-- TODO: extract, inject nav with ng-include instead -->
<div class="container-fluid main-body" ng-controller="MainController">
  <nav class="navbar navbar-default main-nav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="ree" src="./assets/images/reebokxfit.png" alt="">
        </a>
        <a class="name" href="#">
          <h1 class="appName navbar-left">Activ8</h1>
        </a>
        <button ng-click="logOut()" class="logout navbar-right btn">Logout</button>
      </div>
    </div>
  </nav>
<!-- /TODO -->
<section class="main" ng-controller="WorkoutController as work">

  <form class="new-move" ng-submit="work.addWork(work.workout)">
    <label><h4>Today's Workout</h4></label><br>
    <p style="color: white;">{{1417906862147 | date:'short'}}</p>
    <div class="new-moves" ng-repeat="move in work.workout">
      <input class='naming{{move.moveNumber}}' ng-model="move.name" type="text" list="moving" placeholder="Select Movement" ><br>
      <input type="text" ng-model="move.reps" placeholder="Reps"><br>
      <input type="text" ng-model="move.rds"  placeholder="Rounds"><br>
      <input type="text" ng-model="move.weight" placeholder="Weight"><button class="btn btn-danger glyphicon glyphicon-trash" ng-click="work.delete(move)"></button><br>

<section class="main">

  <form class="new-move" ng-submit="work.addWork(work.workout)">
    <label><h4>Today's Workout</h4></label><br>
    <div class="new-moves" ng-repeat="move in work.workout">
      <input class="form-control" ng-model="move.name" type="text" list="moving" placeholder="Select Movement" autocomplete="on">
      <input type="text" class="form-control" ng-model="move.reps" placeholder="Reps">
      <input type="text" class="form-control" ng-model="move.rds"  placeholder="Rounds">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="move.weight" placeholder="Weight">
        <span class="input-group-btn">
          <button class="btn btn-danger glyphicon glyphicon-trash" type="button" ng-click="work.delete(move)"></button>
        </span>
      </div><!-- /input-group -->
      <input type="text" ng-hide="true" ng-model="move.moveNumber"><br>

    </div>
    <div>
      <input type="Button" class="btn btn-success" value="(+)Add Movement" ng-click="work.addMove()"><br>
      <input type="submit" class="btn btn-primary" value="Save Workout">
    </div>
  </form>

  <datalist id="moving">
    <option data-ng-repeat="moves in work.moveList.movements" value="{{moves.name}}"></option>
  </datalist>
  <br>
</section> <!-- / .main -->
</div><!-- /.main-body -->
