<div class="container-fluid main-body" ng-controller="MainController">
  <nav class="navbar navbar-default main-nav" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img class="ree" src="./assets/images/reebokxfit.png" alt="">
        </a>
        <a class="name" href="#">
          <h1 class="appName navbar-left">Activ8</h1>
        </a>
        <button ng-click="logOut()" class="logout navbar-right btn">Logout</button>
      </div>
    </div>
  </nav>

  <section id="personalBests" ng-controller="prController">
    <h3 class="records">Personal Records(PR's)</h3>
    <ul class="prDrop">
      <li>
        <label for="personalRecords" ng-click="pr.test()">Select Movement:</label><br>
        <select type="text" id="personalRecords" placeholder="Breaking Records"
          ng-model="selectedPr"
          ng-change="pr.testPr()"
        >
          <optgroup label="Clean">
            <option value="Power Clean">Power Clean</option>
            <option value="Squat Clean">Squat Clean</option>
            <option value="Hang Power Clean">Hang Power Clean</option>
            <option value="Hang Squat Clean">Hang Squat Clean</option>
            <option value="Clean & Jerk">Clean & Jerk</option>
          </optgroup>
          <optgroup label="Jerk">
            <option value="Jerk">Jerk</option>
            <option value="Split Jerk">Split Jerk</option>
            <option value="Push Jerk">Push Jerk</option>
          </optgroup>
          <optgroup label="Snatch">
            <option value="Power Snatch">Power Snatch</option>
            <option value="Squat Snatch">Squat Snatch</option>
          </optgroup>
        </select>
      </li>
    </ul>
    <section class="page-up col-xs-12">
      <a href="#dashboard"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </section>
  </section><!-- / section#personalBests -->
</div>
