body {
  margin: 0;
  padding: 0;

}
.jumbotron {
  text-align: center;
  background-color: rgba(0,0,0,0.6);
  color: white;
  margin-bottom: 0;
}
.product-page {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.3);
}
.navbar {
  margin-bottom: 0;
}
.navMenu {
  padding-right: 3%;
  margin-right: 0;
}
.product-description {
  width: 80%;
  margin: 0 auto;
}
.main-description {
  color: white;
  font-size: 15pt;
  text-align: center;
  padding: 5% 0;
}
h1 {
  margin-top: 0;
}
h2 {
  color: black;
  text-align: center;
  font-size: 30pt;
  padding-bottom: 2%;
}
a.navbar-brand {
  padding-top: 12%;
}
h3 {
  margin: 0;
}
#aboutActiv8 {
  padding-top: 5%;
}
.dash img {
  width: 60%;
  margin: 0 auto;
  display: block;
}